body {
  width: 80%;
  margin: 0 auto;
  padding: 0;
  background: black;
  color: white;
  font-family: monospace;
}

#image {
  position: relative;
  width: 90vmin;
  height: 90vmin;
  background: #222;

  background-image: linear-gradient(45deg, #808080 25%, transparent 25%),
    linear-gradient(-45deg, #808080 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #808080 75%),
    linear-gradient(-45deg, transparent 75%, #808080 75%);
  background-size: 16px 16px;
  background-position: 0 0, 0 8px, 8px -8px, -8px 0px;
}

.start {
  position: absolute;
  background: red;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader {
  display: block;
  width: 30%;
  height: 30%;
  border: 5px solid #fffa;
  border-bottom-color: transparent;
  border-radius: 50%;
  /* display: inline-block; */
  /* box-sizing: border-box; */
  animation: rotation 5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

img {
  display: block;
  margin: 0;
  padding: 0;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
